.headling {
  font-size: 24px;
  font-style: italic;
  text-align: center;
}
.smallerHeadling {
  font-style: italic;
  text-align: center;
}
.options {
  display: flex;
  justify-content: space-around;
}
